<div class="text-start text-3xl font-bold leading-none">
    <% if press_service_signed_in? %>
        <%= link_to @cup.name, tournament_path(@cup), class: "hover:text-[#007bff] hover:fill-[#007bff]" %>
    <% else %>
        <%= @cup.name %>
    <% end %>
</div>