<div class="bg-emerald-500 text-center lg:text-left">
    <div class="p-4 text-center text-surface text-white">
        <%= "\u00A9"%>
        <% if Date.today.year == 2024 %>
            2024
        <% else %>
            2024-<%= Date.today.year %>
        <% end %>
        <%= link_to t('author'), "https://github.com/Botiuk", target: :_blank, class: "" %>
    </div>
</div>
